In [169]:
from pymongo import MongoClient
from random import randint
import pandas as pd 
import math
import ssl
#Step 1: Connect to MongoDB - Note: Change connection string as needed
client = MongoClient(host=['mongodb+srv://Manpreet:Chahal123@cluster0.mzino.mongodb.net/test'],ssl_cert_reqs=ssl.CERT_NONE,
                     document_class=dict, tz_aware=False, connect=True)
db=client.ReuterDb
print(db)

Database(MongoClient(host=['cluster0-shard-00-01.mzino.mongodb.net:27017', 'cluster0-shard-00-00.mzino.mongodb.net:27017', 'cluster0-shard-00-02.mzino.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-140kfk-shard-0', ssl=True, ssl_cert_reqs=<VerifyMode.CERT_NONE: 0>), 'ReuterDb')

In [170]:
dataList=[]
words=["Canada", "rain", "cold", "hot"]
i=0
news=[]
mycol = db["NewsData"]

In [171]:
for x in mycol.find(): 
    news.append(x["body"])
news=news[:1000]
print(len(news))

1000

In [172]:
i=0
while(i < len(words)):
    count=0
    for n in news:
        if words[i] in n:
            count=count+1
    data={
      "Search Query": words[i],
      "Documents containg term": count,
      "Total Documents(N)/ number of documents term appeared":len(news)/count,
      "Log10(N/df)":math.log10( len(news)/count )}
    i=i+1
    dataList.append(data)

In [173]:
dataList

[{'Search Query': 'Canada',
  'Documents containg term': 37,
  'Total Documents(N)/ number of documents term appeared': 27.027027027027028,
  'Log10(N/df)': 1.431798275933005},
 {'Search Query': 'rain',
  'Documents containg term': 42,
  'Total Documents(N)/ number of documents term appeared': 23.80952380952381,
  'Log10(N/df)': 1.3767507096020994},
 {'Search Query': 'cold',
  'Documents containg term': 8,
  'Total Documents(N)/ number of documents term appeared': 125.0,
  'Log10(N/df)': 2.0969100130080562},
 {'Search Query': 'hot',
  'Documents containg term': 8,
  'Total Documents(N)/ number of documents term appeared': 125.0,
  'Log10(N/df)': 2.0969100130080562}]

In [174]:
df = pd.DataFrame(dataList)

In [175]:
df

,Search Query,Documents containg term,Total Documents(N)/ number of documents term appeared,Log10(N/df)
0,Canada,37,27.027027,1.431798
1,rain,42,23.809524,1.376751
2,cold,8,125.000000,2.096910
3,hot,8,125.000000,2.096910

In [176]:
df.to_csv('SemanticAnalysis_Step18.csv', index = False)

In [ ]:
dataList = []
i=0
for bag in bagofwords:
  data={
      "Tweet": x,
      "Message": cleaned_data[i].get('full_text'),
      "Match":[],
      "Polarity":""}
  i=i+1
  keys=bag.keys()
  p=0
  n=0
  pmatches=[]
  nmatches=[]
  matches =[]
  for key in keys:
    if key in positive:
      p+= 1*bag.get(key)
      pmatches.append(key)
    if key in negative:
      n+=1*bag.get(key)
      nmatches.append(key)
  result = p - n
  if result > 0:
    data["Polarity"] ="Positive"
    data["Match"] = pmatches
  elif result < 0:
    data["Polarity"] ="Negative"
    data["Match"] = nmatches
  elif result == 0:
    data["Polarity"] ="Neutral"
    data["Match"] = []
  x=x+1
  dataList.append(data)

In [ ]:
df = pd.DataFrame(dataList)